<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Domus - Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all"
          href="../public/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />

    <link rel="stylesheet" type="text/css" media="all"
          href="../public/css/error.css"
          th:href="@{/css/error.css}" />

    <link href="https://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" />
  </head>
  <body>
    <div class="page error-page">
      <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col text-center">
            <h1>UQAC</h1>
            <h2>DOMUS</h2>

            <h3 th:text="${exception.getClass().getName()}">Exception</h3>

            <p>Ouch ! Une erreur est survenue.</p>
            <p>Ouch ! An error has occured.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
